/*----Base----*/
* {
  margin: 0;
  padding-right: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#e9ff00), color-stop(#e8bb05), color-stop(#ca7e27), color-stop(#984e30), color-stop(#5a2b29), color-stop(#3d1f21), color-stop(#221416), color-stop(#000000), color-stop(#000000), color-stop(#000000), color-stop(#000000), to(#000000));
  background-image: linear-gradient(to right top, #e9ff00, #e8bb05, #ca7e27, #984e30, #5a2b29, #3d1f21, #221416, #000000, #000000, #000000, #000000, #000000);
}

html {
  overflow-x: hidden;
  margin: 0;
  font-size: 100%;
}

header {
  background-color: black;
}

a {
  text-decoration: none;
  color: gold;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 30px;
}

.parallax h4 {
  font-size: 4rem;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 20px;
  margin-top: 50px;
}

.parallax p {
  font-size: 2.5rem;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  padding: 10px;
}

div {
  border: dashed 1px black;
  padding: 5px;
  display: inline-block;
  font-size: 3.5rem;
  width: 100px;
  height: 110px;
  overflow: hidden;
}

nav {
  position: relative;
  bottom: 70px;
  left: 500px;
}

.navBackground {
  background-color: #0f0e08;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

/*---- Info ---- */
#galery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.item {
  border: solid black;
  margin: 25px;
  /* use margin por que  no me andaba el align-content de #galery*/
  -ms-grid-column-align: center;
      justify-self: center;
}

form {
  background-color: white;
  /*AJUSTAR CON BOOTSTRAP*/
}

fieldset {
  width: 40%;
  margin-left: 10%;
}

fieldset p {
  font-size: 1rem;
}

P {
  color: #F2EDA2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*----Texto----*/
.textblock {
  padding: 0;
  height: 10px;
  width: 10000px;
  display: inline;
}

p {
  font-size: 2rem;
  padding: 0;
  height: 100px;
  width: 1000px;
  display: inline-block;
}

.bigtext h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  font-style: solid;
  color: white;
}

.bigtext h2 {
  color: gold;
  border: white;
  border: 100px;
}

h4 span {
  color: #f2e205;
}

/*----Lista----*/
.estiloLista {
  font-size: 2rem;
}

.estiloLista li {
  list-style-type: none;
}

.estiloLista li {
  display: inline;
  padding: 10px;
}

ul {
  list-style: none;
  font-size: 0;
}

ul li {
  display: inline-block;
  width: 9rem;
  position: relative;
  font-size: 2rem;
}

ul ul {
  position: relative;
  display: none;
}

ul ul li {
  display: block;
  width: 20px;
  padding: 10px;
}

ul ul a {
  color: #F2EDA2;
}

ul ul :hover ul {
  position: absolute;
  display: block;
  background-color: gold;
}
/*# sourceMappingURL=styles.css.map */