/*----Base----*/
* {
  margin: 0;
  padding-right: 1px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(to right top, #e9ff00, #e8bb05, #ca7e27, #984e30, #5a2b29, #3d1f21, #221416, #000000, #000000, #000000, #000000, #000000);
}

html {
  overflow-x: hidden;
  margin: 0;
  font-size: 100%;
}

header {
  background-color:black;
}


a {
  text-decoration: none;
  color: gold;
}

.parallax {


  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

  padding: 50px 30px;

  h4 {
  font-size: 4rem;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 20px;
  margin-top: 50px;
  } 
  p {
  font-size: 2.5rem;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  padding: 10px;
  }
}

div {
  border: dashed 1px black;
  padding: 5px;
  display: inline-block;
  font-size: 3.5rem;
  width: 100px;
  height: 110px;
  overflow: hidden;
}

nav {
  position: relative;
  bottom: 70px;
  left: 500px;
}

.navBackground {
  background-color: #0f0e08;
  position: sticky;
  top: 0px;
}

/*---- Info ---- */

#galery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  align-content: space-around;
}

.item {
  border: solid black;
  margin: 25px;
  /* use margin por que  no me andaba el align-content de #galery*/
  justify-self: center;
}
form{
  background-color: white;
  /*AJUSTAR CON BOOTSTRAP*/
}
fieldset {
  width: 40%;
  margin-left: 10%;
  p {
  font-size: 1rem;
  }
}

P{
  color: #F2EDA2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*----Texto----*/

.textblock {
  padding: 0;
  height: 10px;
  width: 10000px;
  display: inline;  
  }p {
  font-size: 2rem;
  padding: 0;
  height: 100px;
  width: 1000px;
  display: inline-block;
}

.bigtext {
  h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    font-style: solid;
    color:white
  }
  h2 {
    color: gold;
    border: white;
    border: 100px;
  }
}

h4 span {
  color: #f2e205;
}

/*----Lista----*/
.estiloLista {
  font-size: 2rem;
 li {
  list-style-type: none;
  }
  li {
    display: inline;
    padding: 10px;

  }
}


ul {
  list-style: none;
  font-size: 0;
  li {
    display: inline-block;
    width: 9rem;
    position: relative;
    font-size: 2rem;
  }
}



ul ul {
  position: relative;
  display: none;
 li {
    display: block;
    width: 20px;
    padding: 10px;
  }
 a {
    color: #F2EDA2;
  }
 :hover ul {
    position: absolute;
    display: block;
    background-color: gold;
  }
}





